[Unit]
Description=Gunicorn instance to serve flaskrestapi project
After=network.target

[Service]
User=dharjani
Group=www-data
WorkingDirectory=/Users/dharjani/flask-restplus-api-basic
Environment="PATH=/Users/dharjani/flask-restplus-api-basic/venv/bin"
ExecStart=/Users/dharjani/flask-restplus-api-basic/venv/bin/gunicorn --bind 0.0.0.0:4999 --workers 4 app:flask_app --log-level debug

[Install]
WantedBy=multi-user.target
